# Indexing and Slicing with reindex()

##  ----  Quick Summary ----
## What are major import topics features?
### 1. .reindex(index = [0,5,30000,40000], columns=["Athlete","Medal"])

In [14]:
import pandas as pd

In [15]:
summer = pd.read_csv("summer.csv")

In [16]:
summer.head(5)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

## loc[[0,5,30000,40000],["Athlete","Medal"]] gives ERROR

In [8]:
summer.loc[[0,5,30000,40000],["Athlete","Medal"]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([40000], dtype='int64'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [10]:
summer.reindex(index = [0,5,30000,40000], columns=["Athlete","Medal"])

                     Athlete   Medal
0              HAJOS, Alfred    Gold
5      CHOROPHAS, Efstathios  Bronze
30000       PAUTARAN, Maryna  Bronze
40000                    NaN     NaN

In [11]:
summer.reindex(columns=["Athlete","Medal"])

                         Athlete   Medal
0                  HAJOS, Alfred    Gold
1               HERSCHMANN, Otto  Silver
2              DRIVAS, Dimitrios  Bronze
3             MALOKINIS, Ioannis    Gold
4             CHASAPIS, Spiridon  Silver
...                          ...     ...
31160         JANIKOWSKI, Damian  Bronze
31161  REZAEI, Ghasem Gholamreza    Gold
31162             TOTROV, Rustam  Silver
31163          ALEKSANYAN, Artur  Bronze
31164             LIDBERG, Jimmy  Bronze

[31165 rows x 2 columns]

## .reindex(index = [ "PHELPS, Michael" ], columns=["Athlete","Medal"])

In [18]:
summer.reindex(index =["PHELPS, Michael"],columns=["Age","Medal"])

                 Age Medal
PHELPS, Michael  NaN   NaN